stages:
  - prepare
  - security

variables:
  GOPATH: ${CI_PROJECT_DIR}/.go

.go-cache:
  image: golang:1.25
  cache:
    key:
      files:
        - backend/go.sum
    paths:
      - .go/pkg/mod/

go_mod_download:
  extends: .go-cache
  stage: prepare
  before_script:
    - mkdir -p .go
    - cd backend
  script:
    - go mod download

backend-security-gosec:
  extends: .go-cache
  stage: security
  rules:
    - changes:
        - backend/**/*
        - .gitlab-ci.yml
  needs:
    - go_mod_download
  image:
    name: securego/gosec:2.22.11
    entrypoint: [""]
  before_script:
    - cd backend
  script:
    - gosec ./...
  cache:
    policy: pull

backend-security-govulncheck:
  extends: .go-cache
  stage: security
  rules:
    - changes:
        - backend/**/*
        - .gitlab-ci.yml
  needs:
    - go_mod_download
  before_script:
    - cd backend
    - go install golang.org/x/vuln/cmd/govulncheck@latest
  script:
    - govulncheck ./...
  cache:
    policy: pull
