workflow:
  rules:
    - changes:
        - backend/**/*
        - .gitlab-ci.yml

stages:
  - security
  - deploy

variables:
  GOPATH: ${CI_PROJECT_DIR}/.go

.go-cache:
  image: golang:1.25
  cache:
    key:
      files:
        - backend/go.sum
    paths:
      - .go/pkg/mod/

go_mod_download:
  extends: .go-cache
  stage: .pre
  before_script:
    - mkdir -p .go
    - cd backend
  script:
    - go mod download

backend-security-gosec:
  extends: .go-cache
  stage: security
  needs:
    - go_mod_download
  image:
    name: securego/gosec:2.22.11
    entrypoint: [""]
  before_script:
    - cd backend
  script:
    - gosec ./...
  cache:
    policy: pull

backend-security-govulncheck:
  extends: .go-cache
  stage: security
  needs:
    - go_mod_download
  before_script:
    - cd backend
    - go install golang.org/x/vuln/cmd/govulncheck@latest
  script:
    - $GOPATH/bin/govulncheck ./...
  cache:
    policy: pull

backend-deploy:
  stage: deploy
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  needs:
    - backend-security-gosec
    - backend-security-govulncheck
  image: ghcr.io/railwayapp/cli:latest
  before_script:
    - cd backend
  script:
    - railway up --ci --service=$RAILWAY_SERVICE_ID
