name: CI

on:
  push:
    branches:
      - main
    paths:
      - 'backend/**'
      - '.github/workflows/ci-cd.yml'

jobs:
  backend-security-scan:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    defaults:
      run:
        working-directory: backend
    steps:
      - uses: actions/checkout@v5
        with:
          sparse-checkout: backend

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'

      - name: Install dependencies
        run: |
          go mod tidy
          go install github.com/securego/gosec/v2/cmd/gosec@latest

      - name: Run gosec
        run: |
          gosec ./...
